body {
  font-family: arial, sans-serif;
}

.weather-app {
  border: 1px solid rgb(192, 192, 192);
  border-radius: 1px;
  padding: 30px;
  margin: 20px auto;
  max-width: 1000px;
}

h1 {
  color: rgb(135, 135, 135);
  font-size: 24px;
  font-weight: 100;
  height: 19px;
  line-height: 28px;
}

ul {
  margin: 20;
  padding: 30;
}
li {
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 1px;
  list-style: none;
  padding-top: 7%;
}

.fa-cloud-sun {
  color: orangered;
  font-size: 50px;
}

.fa-cloud-sun-rain {
  color: rgb(211, 140, 140);
  font-size: 50px;
}

.fa-cloud {
  color: rgb(206, 179, 167);
  font-size: 50px;
}

.fa-sun {
  color: red;
  font-size: 58px;
}

.fa-wind {
  color: gray;
  font-size: 50px;
}
